@model Service
<div class="container Cont-page" style="padding-left:7%; padding-right:7%;">
    </br>
    <h1>@Model.Name</h1>
    <br />
    <h2><strong> @Model.Desc:</strong></h2>
    <br />
    <h4>@Model.FullDesc1</h4>
    <h4>@Model.FullDesc2</h4>
    <h4>@Model.FullDesc3</h4>
    <h4>@Model.FullDesc4</h4>
    <h4>@Model.FullDesc5</h4>
    <h4>@Model.FullDesc6</h4>
    <h4>@Model.FullDesc7</h4>
    <h4>@Model.FullDesc8</h4>
    <br />
    <div style="text-align:right; padding-right:7%;">
        <a class="btn" href="#" style="border:solid; background-color:#712F26; opacity:0.75; color:black;">Оформить заказ</a>
    </div>
</div>

